.retailers {
    display: flex;
    flex-direction: column;
    border: 1px dotted gray
}

.shopInfo {
    display: flex;
    flex-flow: column wrap;
    border: 1px dashed green;
}

.distributor {
}

.nurseries {
    display: flex;
    flex-flow: row wrap;
}

.nursery_name {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    padding: 8px;
    margin: 12px;
    background-color: lightgreen;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}